<div class="panel">
  <h3>Exam Details</h3>
  <div class="panel_contents">
    <div class="attributes_table user" id="attributes_table_user_2">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>Id</th>
          <td><%= @userexam.id %></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><%= @userexam.name %></td>
        </tr>
        <tr>
          <th>Exam</th>
          <td><%= @userexam.exam.name %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><%= @userexam.password %></td>
        </tr>
        <tr>
          <th>Temp Point</th>
          <td><%= @userexam.tmp_point %></td>
        </tr>
        <tr>
          <th>Sum Point</th>
          <td><%= @userexam.sum_point %></td>
        </tr>
        <tr>
          <th>Time Start</th>
          <td>
            <% if @userexam.time_start != nil %>
            <%= @userexam.time_start.localtime.strftime("%d/%m/%Y %H:%M:%S") %>
            <% else %>
            <%= @userexam.time_start %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Time End</th>
          <td>
            <% if @userexam.time_end != nil %>
            <%= @userexam.time_end.localtime.strftime("%d/%m/%Y %H:%M:%S") %>
            <% else %>
            <%= @userexam.time_end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Note</th>
          <td><%= @userexam.note %></td>
        </tr>
        <tr>
          <th>Created At</th>
          <td><%= @userexam.created_at %></td>
        </tr>
        <tr>
          <th>Updated At</th>
          <td><%= @userexam.updated_at %></td>
        </tr>
        
      </table>
    </div>
  </div>
</div>

<!-- <div class="panel"> -->
<div>
  <h2>User's Test Details</h2>
  <div class="panel_contents">
    <div class="attributes_table user" id="attributes_table_user_2">
      <table border="0" cellspacing="0" cellpadding="0">
          <% count = 1%>
          <% @single_ques.each do |a| %>
              <tr>
                <td>
                  <strong><%= count %>) Question (Single choice):</strong><%= a['qContent'].html_safe%>
                  <strong>User's answer: </strong><br>
                  <%= a['aContent']%><br/>
                  <br/><strong>Right answer:</strong><br>
                  <%= a['trueAnswer']%><br/>
                </td>
              </tr>
              <% count += 1%>
          <% end %>

          <% @multi_ques.each do |a| %>
            <tr>
              <td>
                <strong><%= count %>) Question (Multiple choice):</strong><%= a['qContent'].html_safe %>

                <strong>user's answer: </strong><br>
                <% a['aContent'].each do |ans| %>                  
                  - <%= ans %><br>
                <% end %>

                <br/><strong>Right answer:</strong><br>
                <% i=1 %>
                <% a['trueAnswer'].each do |ans| %>
                  - <%= ans %><br>
                  <% i=i+1 %>
                <% end %>
              </td>
            </tr>
            <% count += 1%>
          <% end %>

          <% @open_ques.each do |a| %>
            <tr>
              <td>
                <strong><%= count %>) Question (Open question):</strong><%= a['qContent'].html_safe%>
                <strong>user's answer: </strong><br>
                <%= a['aContent']%><br/>
                <br/><strong>Right answer:</strong><br>
                <%= a['trueAnswer']%><br/>
              </td>
            </tr>
            <% count += 1%>
          <% end %>
      </table>
    </div>
  </div>
</div>